<a href="https://colab.research.google.com/github/Vractos/data-science/blob/master/MovieLabs.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
 import pandas as pd

In [0]:
filmes = pd.read_csv("https://raw.githubusercontent.com/alura-cursos/introducao-a-data-science/master/aula0/ml-latest-small/movies.csv")

# filmes é uma DataFrame
filmes.columns = ["filmeId", "titulo", "generos"]
filmes.head(10)

   filmeId  ...                                      generos
0        1  ...  Adventure|Animation|Children|Comedy|Fantasy
1        2  ...                   Adventure|Children|Fantasy
2        3  ...                               Comedy|Romance
3        4  ...                         Comedy|Drama|Romance
4        5  ...                                       Comedy
5        6  ...                        Action|Crime|Thriller
6        7  ...                               Comedy|Romance
7        8  ...                           Adventure|Children
8        9  ...                                       Action
9       10  ...                    Action|Adventure|Thriller

[10 rows x 3 columns]

In [0]:
# Ler documentação de um método/atriburo

?filmes.head

In [0]:
# Lendo a documentação do tipo (docstring)

?filmes

In [0]:
avaliacoes = pd.read_csv("https://github.com/alura-cursos/introducao-a-data-science/blob/master/aula0/ml-latest-small/ratings.csv?raw=true")
avaliacoes.head(10)

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931
5       1       70     3.0  964982400
6       1      101     5.0  964980868
7       1      110     4.0  964982176
8       1      151     5.0  964984041
9       1      157     5.0  964984100